<h1> Travel Journal </h1>

<ol>
  <% for place in @places %>
    <li>
       <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ol>

<p> 
  <a href="/places/new"> Enter New Destination </a>
</p>
