<h1> Welcome to our Travel Journal </h1>
<a href="/dice">Roll Again</a>

<ul>
  <% for place in @places %>
    <li>
       <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ul>